src/Trab2/Client_App_IS/Client_App_IS/Client_App_IS.Windows/Service References/FrontEndWebService/FrontEndWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebServices/" targetNamespace="http://WebServices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addDevice" type="tns:addDevice" />
  <xs:element name="addDeviceResponse" type="tns:addDeviceResponse" />
  <xs:element name="addUser" type="tns:addUser" />
  <xs:element name="addUserResponse" type="tns:addUserResponse" />
  <xs:element name="createDB" type="tns:createDB" />
  <xs:element name="createDBResponse" type="tns:createDBResponse" />
  <xs:element name="getDeviceHistory" type="tns:getDeviceHistory" />
  <xs:element name="getDeviceHistoryResponse" type="tns:getDeviceHistoryResponse" />
  <xs:element name="getUserDevices" type="tns:getUserDevices" />
  <xs:element name="getUserDevicesResponse" type="tns:getUserDevicesResponse" />
  <xs:element name="getUserHistory" type="tns:getUserHistory" />
  <xs:element name="getUserHistoryResponse" type="tns:getUserHistoryResponse" />
  <xs:element name="loginUser" type="tns:loginUser" />
  <xs:element name="loginUserResponse" type="tns:loginUserResponse" />
  <xs:complexType name="getUserDevices">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDevicesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeviceHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="serialNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDeviceHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createDB">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createDBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="telephone" type="xs:int" />
      <xs:element minOccurs="0" name="residence" type="xs:string" />
      <xs:element minOccurs="0" name="hash" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDevice">
    <xs:sequence>
      <xs:element name="serialNumber" type="xs:int" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="model" type="xs:string" />
      <xs:element minOccurs="0" name="friendlyName" type="xs:string" />
      <xs:element name="deviceType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDeviceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="passwordHash" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>