src/Trab2/IS_Trab2_Device/src/META-INF/wsdl/localhost_8080/IS_Trab2/DeviceWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="insertState" type="tns:insertState"/>

<xs:element name="insertStateResponse" type="tns:insertStateResponse"/>

<xs:complexType name="insertState">
<xs:sequence>
<xs:element name="serialNumber" type="xs:int"/>
<xs:element name="state" type="xs:int"/>
<xs:element name="error" type="xs:int"/>
<xs:element name="energyProduction" type="xs:int"/>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
<xs:element name="port" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>