src/Trab2/Client_App_IS/Client_App_IS/Client_App_IS.Windows/Service References/FrontEndService/FrontEndWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="FrontEndWebService" targetNamespace="http://WebServices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="FrontEndWebService_schema1.xsd" namespace="http://WebServices/" />
    </xsd:schema>
  </types>
  <message name="getUserDevices">
    <part name="parameters" element="tns:getUserDevices" />
  </message>
  <message name="getUserDevicesResponse">
    <part name="parameters" element="tns:getUserDevicesResponse" />
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser" />
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse" />
  </message>
  <message name="addDevice">
    <part name="parameters" element="tns:addDevice" />
  </message>
  <message name="addDeviceResponse">
    <part name="parameters" element="tns:addDeviceResponse" />
  </message>
  <message name="getUserHistory">
    <part name="parameters" element="tns:getUserHistory" />
  </message>
  <message name="getUserHistoryResponse">
    <part name="parameters" element="tns:getUserHistoryResponse" />
  </message>
  <message name="getDeviceHistory">
    <part name="parameters" element="tns:getDeviceHistory" />
  </message>
  <message name="getDeviceHistoryResponse">
    <part name="parameters" element="tns:getDeviceHistoryResponse" />
  </message>
  <message name="createDB">
    <part name="parameters" element="tns:createDB" />
  </message>
  <message name="createDBResponse">
    <part name="parameters" element="tns:createDBResponse" />
  </message>
  <portType name="FrontEndWebService">
    <operation name="getUserDevices">
      <input wsam:Action="http://WebServices/FrontEndWebService/getUserDevicesRequest" message="tns:getUserDevices" />
      <output wsam:Action="http://WebServices/FrontEndWebService/getUserDevicesResponse" message="tns:getUserDevicesResponse" />
    </operation>
    <operation name="addUser">
      <input wsam:Action="http://WebServices/FrontEndWebService/addUserRequest" message="tns:addUser" />
      <output wsam:Action="http://WebServices/FrontEndWebService/addUserResponse" message="tns:addUserResponse" />
    </operation>
    <operation name="addDevice">
      <input wsam:Action="http://WebServices/FrontEndWebService/addDeviceRequest" message="tns:addDevice" />
      <output wsam:Action="http://WebServices/FrontEndWebService/addDeviceResponse" message="tns:addDeviceResponse" />
    </operation>
    <operation name="getUserHistory">
      <input wsam:Action="http://WebServices/FrontEndWebService/getUserHistoryRequest" message="tns:getUserHistory" />
      <output wsam:Action="http://WebServices/FrontEndWebService/getUserHistoryResponse" message="tns:getUserHistoryResponse" />
    </operation>
    <operation name="getDeviceHistory">
      <input wsam:Action="http://WebServices/FrontEndWebService/getDeviceHistoryRequest" message="tns:getDeviceHistory" />
      <output wsam:Action="http://WebServices/FrontEndWebService/getDeviceHistoryResponse" message="tns:getDeviceHistoryResponse" />
    </operation>
    <operation name="createDB">
      <input wsam:Action="http://WebServices/FrontEndWebService/createDBRequest" message="tns:createDB" />
      <output wsam:Action="http://WebServices/FrontEndWebService/createDBResponse" message="tns:createDBResponse" />
    </operation>
  </portType>
  <binding name="FrontEndWebServicePortBinding" type="tns:FrontEndWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getUserDevices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addDevice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUserHistory">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDeviceHistory">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createDB">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FrontEndWebService">
    <port name="FrontEndWebServicePort" binding="tns:FrontEndWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
</definitions>