src/Trab3/src/XML/myPlaceSchema.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/updateSchema"
            xmlns:tns="http://xml.netbeans.org/schema/updateSchema"
            elementFormDefault="qualified">
    
    <xsd:complexType name="tMyPlace">
        <xsd:sequence>
            <xsd:element name="Place" type="tns:tPlace"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="tPlace">
        <xsd:sequence>
            <xsd:element name="Gress" type="xsd:int"/>
            <xsd:element name="Wolf" type="xsd:boolean"/>
            <xsd:element name="Cow" type="xsd:boolean"/>
            <xsd:element name="Obstacle" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="MyPlace" type="tns:tMyPlace"/>
</xsd:schema>